<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075753588796-csh9p2kaloq8dvkrc0p3i70rr51am529.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075753588796-csh9p2kaloq8dvkrc0p3i70rr51am529</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLBdN478kVA4qLnmaAzAnOyiMVzqpfsI</string>
	<key>GCM_SENDER_ID</key>
	<string>1075753588796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewKrechmer.MOTV</string>
	<key>PROJECT_ID</key>
	<string>motv-6f568</string>
	<key>STORAGE_BUCKET</key>
	<string>motv-6f568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075753588796:ios:0c464a23cd71c842180b39</string>
</dict>
</plist>